*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --repeat: auto-fit;
}  

body{
   text-align: center;
   font-size: 16px;
   font-family: 'Cabin', sans-serif; 
}

.header h1{
    padding: 1em;
}

.container{
    display: grid;
    padding: 0 2.5em;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(var(--repeat, auto-fit), minmax(calc(250px * 1) , 1fr));

    row-gap: 1.5em;
    column-gap: 1em;
}

.content img{
    width: 100%;
    border-radius: 15px;
    padding-bottom: 0.5em;
}

.content a{
    text-decoration: none;
    color: black;
}

.content:hover{
    opacity: 0.5;
}

.attribution { font-size: 11px; text-align: center; margin-top: 5em;}
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 1393px){
    :root{
        --repeat: 4;
    }
}