body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
    min-width: 1440px;
}

.main{
    color:  hsl(234, 12%, 34%);
}

.main h1{
    position: relative;
    left: 582.391px;
    font-size: 40px;
    line-height: 70%;
    width: fit-content;
}

.main p{
    margin-top: 10px;
    position: relative;
    left: 499.188px;
    width: fit-content;
    color: hsl(229, 6%, 66%);
    font-size: 18px;
}

.box{
    position: relative;
    background-color: white;
    width: 400px;
    height: 275px;
    border-radius: 10px;
    box-shadow: -1px 8px 15px hsl(229, 6%, 66%);
}

.box h1{
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    margin-left: 30px;
}

.box p{
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    margin-left: 30px;
}

.box img{
    position: relative;
    left: 70%;
    top: 30px;
}

.box.red{
    border-top: 8px solid hsl(0, 78%, 62%);
    left: 599.031px;
    margin-top: 75px;
}

.box.cyan{
    position: absolute;
    border-top: 8px solid hsl(180, 62%, 55%);
    top: 430.813px;
    left: 168px;
}

.box.yellow{
    border-top: 8px solid hsl(34, 97%, 64%);
    left: 599.031px;
    margin-top: 50px;
}

.box.blue{
    position: absolute;
    border-top: 8px solid hsl(212, 86%, 64%);
    top: 430.813px;
    left: 1050px;
}
